.container {
    /* background-image: url("../../../assets/conf1.jpg"); 
    background-size: cover;
    background-position: center; */
    background-color: rgb(1, 30, 30);
    min-width: 700px;
    padding: 30px;
    display: grid;
  }
  
  .inner {
    display: grid;
    gap: 30px;
  }
   
  .image {
    display: flex;
    justify-content: center;
  }
  
  .image img {
    height: 100%;
    width: 60%;
    cursor: pointer;
    object-fit: cover;
  }
  
  .image p {
    font-weight: 500;
    font-size: 0.875rem;
    letter-spacing: 1px;
  }
  
  .image p span {
    font-weight: bold;
    font-size: 0.9rem;
    letter-spacing: 1px;
    color: rgb(109, 192, 139);
  }
  
  .description,
  .description .inputs {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .description .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .description .title {
    font-weight: 700;
    color: white;
    font-size: 1.2rem;
  }
  
  .description .link {
    color: white;
    font-weight: 600;
    font-size: 1.1rem;
    cursor: pointer;
  }

  .description .link:hover{
    color: rgb(109, 192, 139);
  }
  
  .description .input {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .description .input > div {
    flex: 1;
  }

  .description .input svg {
    height: 18px;
    width: 18px;
    cursor: pointer;
    color: white;
  }

  .footer {
    display: flex;
    gap: 20px;
    justify-content: flex-end;
    align-items: center;
    margin-top: 2%;
  }
  
  .footer .cancel {
    font-size: 1rem;
    font-weight: 600;
    color: white;
    transition: 200ms;
    cursor: pointer;
  }

  .footer .cancel:hover {
    color: rgb(109, 192, 139);
  }
  
  .error {
    font-size: 1.1rem;
    font-weight: 600;
    color: rgb(109, 192, 139);
    text-align: center;
    width: 100%;
  }

  .button {
    border: none;
    outline: none;
    padding: 10px 16px;
    background-color: white;
    color: rgb(1, 30, 30);
    border-radius: 5px;
    width: fit-content;
    font-size: 0.9rem;
    font-weight: 600;
    cursor: pointer;
    transition: 200ms;
    display: flex;
    gap: 2%;
    align-items: center;
  }
  
  .button:hover {
    background-color: rgb(109, 192, 139);
  }