.container {
  min-height: 100vh;
  height: 100%;
  width: 100%;
  background-image: url("../../assets/conf.jpg"); 
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
  
  .header {
    padding: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: auto;
    height: 100vh;
  }
  
  .left {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }
  
  .left .heading {
    padding-bottom: 3%;
    font-weight: bold;
    color: lightpink;
    font-size: 3rem;
  }
  
  .left .subHeading {
    font-weight: 700;
    font-size: 1.3rem;
    line-height: 2rem;
    width: 80%;
    color: white;
    font-style: italic;
  }
  
  .left button {
    margin-top: 6%;
    border: none;
    outline: none;
    padding: 10px 16px;
    background-color:lightpink;
    color: navy;
    border-radius: 5px;
    width: fit-content;
    font-size: 1.1rem;
    font-weight: 600;
    cursor: pointer;
    transition: 200ms;
    display: flex;
    gap: 5px;
    align-items: center;
  }
  
  .left button:hover {
    background-color: rgb(243, 72, 189);
  }
  
  .left button:active {
    transform: translateY(1px);
  }
  
  .right {
    max-width: 85%;
  }
  
  .right img {
    object-fit: contain;
    width: 100%;
  }
  