.container {
  min-height: 100vh;
  height: 100%;
  width: 100%;
  background-image: url("../../assets/conf.jpg"); 
  background-size: cover;
  background-position-y: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 15px ridge rgb(5, 24, 15);
  overflow-x: hidden;
}
  
  .header {
    padding: 30px;
    background-color: rgb(1, 30, 30);
    margin: 0.5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 99%;
  }
  
  .left {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
  }
  
  .left .heading {
    font-weight: 700;
    color:  white;
    width: 100%;
    font-size: 3rem;
  }
  
  .left .subHeading {
    font-weight: 700;
    font-size: 1.3rem;
    line-height: 2rem;
    color: white;
    font-style: italic;
  }

  .blogtitleWrapper {
    /* background-color: white;
    width: 99%; */
    text-align: center; 
    padding: 20px;
    margin-top: 7%; 
    margin-bottom: 3%;
  }
  
  .blogtitle {
    color: rgb(1, 30, 30);
    font-size: 1.8rem;
    font-weight: 700;
    text-decoration: underline;
  }

  .down button {
    border: none;
    outline: none;
    padding: 10px 16px;
    background-color:white;
    color: rgb(1, 30, 30);
    border-radius: 5px;
    width: fit-content;
    font-size: 1.1rem;
    font-weight: 600;
    cursor: pointer;
    transition: 200ms;
    display: flex;
    gap: 5px;
    align-items: center;
  }
  
  .down button:hover {
    background-color: rgb(109, 192, 139);
  }
  
  .down button:active {
    transform: translateY(1px);
  }
  
  