.container {
  min-height: 100vh;
  height: 100%;
  width: 100%;
  background-image: url("../../assets/conf.jpg"); 
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 11px ridge rgb(224, 78, 202);
}
  
  .header {
    padding: 30px;
    padding-top: 7%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
  }
  
  .left {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
  }
  
  .left .heading {
    padding-bottom: 3%;
    font-weight: 700;
    color: lightpink;
    padding-left: 2%;
    padding-right: 2%;
    background-color: rgb(3, 3, 39);
    box-shadow: 7px 7px 5px rgb(224, 78, 202);
    margin-bottom: 2%;
    font-size: 7rem;
  }
  
  .left .subHeading {
    font-weight: 700;
    font-size: 1.3rem;
    line-height: 2rem;
    color: white;
    font-style: italic;
    border: 5px solid lightskyblue;
    box-shadow: 7px 7px 7px lightskyblue;
    padding: 2%;
    border-radius: 5px;
    background-image: url("../../assets/conf1.jpg"); 
    background-size: cover;
    background-position: center;
  }

  .blogtitleWrapper {
    background-image: url("../../assets/titlebackground.jpg");
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    text-align: center; 
    padding: 20px;
    margin-top: 7%; 
    margin-bottom: 3%;
  }
  
  .blogtitle {
    color: lightpink;
    font-size: 1.8rem;
    font-weight: 700;
    text-decoration: underline;
  }

  .start{
    padding: 30px;
    padding-top: 7%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }

  .down button {
    border: none;
    outline: none;
    padding: 10px 16px;
    background-color:lightpink;
    color: navy;
    border-radius: 5px;
    width: fit-content;
    font-size: 1.1rem;
    font-weight: 600;
    cursor: pointer;
    transition: 200ms;
    display: flex;
    gap: 5px;
    align-items: center;
  }
  
  .down button:hover {
    background-color: rgb(243, 72, 189);
  }
  
  .down button:active {
    transform: translateY(1px);
  }
  
  