.container {
    min-height: 100vh;
    height: 100%;
    width: 100%;
    background-image: url("../../assets/conf.jpg"); 
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .topheading{
    position: absolute;
    /* background-image: url("../../assets/titlebackground.jpg");
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center; */
    background-color: rgb(1, 30, 30);
    width: 100%;
    height: 10%;
    top: 0;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 1%;
    padding-right: 9%;
    color: white;
  }

  .topheading :hover{
    color: rgb(109, 192, 139);
  }
  
  .backarrow {
    font-size: 1.3rem;
  }
  
  .backtext {
    font-weight: 600;
    font-size: 1.8rem;
    flex: 1;
    text-decoration: underline;
  }

  .hometext {
    font-weight: 600;
    font-size: 1.8rem;
    flex: 1;
  }

  .form {
    /* background-image: url("../../assets/conf.jpg"); 
    background-size: cover;
    background-position: center; */
    background-color: rgb(1, 30, 30);
    color: white;
    box-shadow: 3px 3px 9px white;
    border-radius: 5px;
    padding: 30px;
    width: fit-content;
    min-width: 380px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .smallLink {
    position: absolute;
    left: 0%;
    top: -22px;
  }
  
  .smallLink a {
    color: white;
    font-weight: bold;
    cursor: pointer;
    font-size: 0.95rem;
    text-decoration: none;
  }

  .smallLink :hover{
    color: rgb(109, 192, 139);
  }
  
  .form .heading {
    font-weight: bold;
    font-size: 1.6rem;
  }
  
  .form button {
    border: none;
    outline: none;
    padding: 8px 16px;
    background-color: white;
    color: rgb(1, 30, 30);
    border-radius: 5px;
    width: 100%;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 600;
    cursor: pointer;
    transition: 200ms;
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
  }
  
  .form button:hover {
    background-color: rgb(109, 192, 139);
  }
  
  .form button:active {
    transform: translateY(1px);
  }
  
  .form button:disabled {
    background-color: rgb(109, 192, 139) !important;
  }
  
  .form .error {
    font-size: 0.875rem;
    font-weight: bold;
    color: rgb(109, 192, 139);
    width: 100%;
    text-align: center;
  }
  
  .form .bottom p {
    width: 100%;
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
  }
  
  .bottom p a {
    color: white;
    font-weight: 600;
    text-decoration: underline;
    cursor: pointer;
  }

  .bottom p :hover{
    color: rgb(109, 192, 139);
  }